<footer class="text-white">
  <div class="footer-up pt-4 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img class="d-block m-md-0 m-auto" style="width: 140px;" src="../../assets/footer_logo.png" alt="">
        </div>
        <div class="col-md-6 new-to-jumia text-md-start text-center">
          <h5>NEW TO JUMIA?</h5>
          <p>Subscribe to our newsletter to get updates on our latest offers!</p>
          <form class="d-flex">
            <div class="form-control me-2 p-0 ps-3 d-flex align-items-center">
              <i class="fas fa-envelope" style="color: rgb(126, 126, 126);font-size: 20px;"></i>
              <input class="form-control border-0" type="text" placeholder="Enter E-mail Address" aria-label="Search">
            </div>
            <button class="btn btn-outline-light me-2" type="submit">MAIL</button>
            <button class="btn btn-outline-light" type="submit">FEMALE</button>
          </form>
        </div>
        <div class="col-md-3" style="margin-top: 25px;">
          <div class="row">
            <div class="col-md-3 d-flex align-items-start justify-content-center justify-content-md-start">
              <img style="width: 40px;" src="../../assets/footer_logo2.webp" alt="">
            </div>
            <div class="col-md-9 d-flex align-items-start justify-content-center justify-content-md-start" style="font-size: 13px;">
              <div>
                <h5 style="font-size: 13px;">DOWNLOAD JUMIA FREE APP</h5>
                <p>Get access to exclusive offers!</p>
              </div>
            </div>
          </div>
          <div class="mt-2 d-flex justify-content-center">
            <span class="d-inline-block">
              <img class="me-2" style="width: 100px;" src="../../assets/app_store.png" alt="">
              <img style="width: 100px;" src="../../assets/google_store.png" alt="">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-down py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5>LET US HELP YOU</h5>
          <ul>
            <li>Help Center</li>
            <li>Contact us</li>
            <li>How to buy on Jumia?</li>
            <li>How to pay on Jumia?</li>
            <li>Delivery timelines</li>
            <li>Report a Product</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>ABOUT JUMIA EGYPT</h5>
          <ul>
            <li>Jumia Logistics Services</li>
            <li>Jumia Careers</li>
            <li>Terms and Conditions</li>
            <li>Privacy Policy</li>
            <li>Jumia Express</li>
            <li>Jumia Mall</li>
            <li>Jumia Anniversary 2022</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>MAKE MONEY WITH JUMIA</h5>
          <ul>
            <li>Sell on Jumia</li>
            <li>Become a Logistics Service Partner</li>
            <li>Become a Sales Consultant (J-Force )</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>JUMIA INTERNATIONAL</h5>
          <div class="d-flex gap-5">
            <ul>
              <li>Algeria</li>
              <li>Ivory Coast</li>
              <li>Ghana</li>
              <li>Kenya</li>
              <li>Morocco</li>
            </ul>
            <ul>
              <li>Nigeria</li>
              <li>Senegal</li>
              <li>Tunisia</li>
              <li>Uganda</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-3">
          <h5>JOIN US ON</h5>
          <ul class="d-flex gap-4 social">
            <li><i class="fa-brands fa-facebook-f"></i></li>
            <li><i class="fa-brands fa-twitter"></i></li>
            <li><i class="fa-brands fa-instagram"></i></li>
            <li><i class="fa-brands fa-youtube"></i></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>PAYMENT METHODS</h5>
          <ul class="d-flex gap-4 payment">
            <li><i class="fa-solid fa-coins"></i></li>
            <li><i class="fa-brands fa-cc-mastercard"></i></li>
            <li><i class="fa-brands fa-cc-visa"></i></li>
            <li><i class="fa-brands fa-paypal"></i></li>
          </ul>
        </div>
      </div>
      <div class="divider my-2"></div>
      <ul class="d-flex justify-content-center gap-3 footer-end">
        <li><i class="fa-solid fa-chess-queen"></i> PRIMO</li>
        <li><i class="fa-solid fa-shield-halved"></i> PAY</li>
        <li>LOGISTICS</li>
      </ul>
    </div>
  </div>
</footer>
