<div class="container">
  <div class="row gy-3 gy-md-0">
    <div class="col-lg-2 col-md-3">
      <div class="card">
        <ul>
          <li><a routerLink="categories/supermarket"><i class="fas fa-apple-whole me-1"></i> Supermarket</a></li>
          <li><a routerLink="categories/fashion"><i class="fas fa-shirt me-1"></i> Fashion</a></li>
          <li><a routerLink="categories/healthAndBeauty"><i class="fas fa-hand-holding-heart me-1"></i>Health & Beauty</a></li>
          <li><a routerLink="categories/babyProducts"><i class="fas fa-baby-carriage me-1"></i> Baby Products</a></li>
          <li><a routerLink="categories/phonesAndTablets"><i class="fas fa-mobile-screen me-1"></i> Phones & Tablets</a></li>
          <li><a routerLink="categories/homeAndOffice"><i class="fas fa-house-chimney me-1"></i> Home & Office</a></li>
          <li><a routerLink="categories/electronics"><i class="fab fa-bilibili me-1"></i> Electronics</a></li>
          <li><a routerLink="categories/computing"><i class="fas fa-display me-1"></i> Computing</a></li>
          <li><a routerLink="categories/sportingGoods"><i class="fas fa-dumbbell me-1"></i> Sporting Goods</a></li>
          <li><a routerLink="categories/gaming"><i class="fas fa-gamepad me-1"></i> Gaming</a></li>
          <li><a routerLink="categories/automobile"><i class="fas fa-car-rear me-1"></i> Automobile</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-7 col-md-6">
      <div class="card slider"></div>
    </div>
    <div class="col-md-3">
      <a class="card flash-sales" routerLink="flash_sales">
        <img class="h-100" src="../../assets/flash_sales.jpg" alt="">
      </a>
    </div>
  </div>
</div>
