@import '../helpers.scss';
label {
    display: block;
    margin-top: 10px;
  }

  /* .card-container.card {
    max-width: 400px !important;
    padding: 40px 40px;
  } */
  /* background-color: #f7f7f7; */
  .card {

    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
     border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
  }

  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .form1{
    background-color:  red;

    }
    .ChangeInputStyle:focus
    {
         border: none !important;
         padding: 1.5rem !important;
         border-bottom: 2px solid $main-color !important;

    }


    .ChangeInputStyle:focus::placeholder {
      color: $main-color !important;

    }
    .ChangeInputStyle{

      width: 100%;
      height: calc(1.5em + .75rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      border: none !important;
      border-bottom: 1px solid gray !important;
      border-radius: .25rem;
      border-radius: 0px !important;

       outline: 0;
    }
    input[type="text"]:focus, input[type="password"]:focus {
      height: 50px;
      padding-bottom: 0px;
      transition: 0.2s ease-in;
  }

  input:focus::-webkit-input-placeholder {
    font-size: .75em;
    position: relative;
    top: -15px;
    transition: 0.2s ease-out;
  }
  button{
    font-size: 15px;
    font-weight: 600;
  }
  .btnlogin{

    color: white;
    background-color: $main-color;
    padding: 13px;
    border: none;
    border-radius: 4px;
    box-shadow: $box-shadow;
  }

  .btnblue{

    color: white;
    background-color:blue;
    padding: 13px;
    border: none;
    border-radius: 4px;
    box-shadow: $box-shadow;

  }
  .logintxt{

    color:$main-color;
    margin-bottom:3rem;
  }
  .formdivide{
    border: none !important;
     border-right: 1px solid gray !important;
     border-radius: 0px !important;
    @media screen and (max-width:768px){
      border: none !important;

    }
  }
  .txtright{
  color: $main-color;
  margin-bottom: 2rem;
  }
  .cardright{

    border: none !important;
  }
  .divright{

    margin-bottom: 12rem;
  }
  #btns-left{
    margin-top: 2.8rem;
  }
