.change-password {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%);
  background-color: #fff;
  border-radius: 4px;
  padding-bottom: 1px;
}
.change-password h2 {
  margin-bottom: 0;
  padding: 6px 14px;
}
.change-password hr {
  padding: 0;
  margin: 0;
  background-color: currentColor;
  opacity: 0.1;
}
.change-password form {
  padding: 20px 13px;
}
.change-password form .example-full-width {
  margin-bottom: 30px;
  width: 100%;
}
.change-password form input {
  border: none;
  border-radius: inherit;
}
.mat-form-field-underline {
  display: none;
}
.change-password form input:focus {
  box-shadow: none;
  border: none;
}
.change-password .pass-label {
  color: #e4811c;
}
.change-password .material-icons {
  color: gray;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}
.change-password .material-icons:hover {
  background-color: #feeedd;
}
.change-password form button {
  width: 100%;
  font-size: 19px;
  font-weight: 500;
  padding: 10px;
  background: #f68b1e;
  border: none;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);

  color: white;
  border-radius: 4px;
}
.change-password form button:hover {
  background: #e4811c;
}
