<div class="change-password">
  <h2>Change Password</h2>
  <hr/>
  <form>
      <div class="row">
          <div class="col-md-6">
              <form class="example-form">
                  <mat-form-field class="example-full-width mb-0">
                      <mat-label class="pass-label">Current Password</mat-label>
                      <input matInput="matInput" required="" pattern="^\d{8}$" [class.is-invalid]="currentpassword.invalid && currentpassword.touched" name="currentpassword" [(ngModel)]="userModel.currentpassword" #currentpassword="ngModel" [type]="hide1 ? 'password':'text'"/>
                      <!-- <div *ngIf="currentpassword.errors&&currentpassword.touched">
                          <small class="text-danger" *ngIf="currentpassword.errors['required']">current password  is Required</small>
                          <small class="text-danger" *ngIf="currentpassword.errors['pattern']">Should Enter A Valid Password
                          </small>
                      </div> -->
                      <i class="material-icons" matSuffix="matSuffix" (click)="hide1 = !hide1">{{hide1 ? 'visibility_off':'visibility'}}</i>
                  </mat-form-field>
                  <div *ngIf="currentpassword.errors&&currentpassword.touched">
                    <small class="text-danger" *ngIf="currentpassword.errors['required']">current password  is Required</small>
                    <small class="text-danger" *ngIf="currentpassword.errors['pattern']">Should Enter A Valid Password
                    </small>
                </div>
                  <mat-form-field class="example-full-width mt-4 mb-0">
                      <mat-label class="pass-label">New Password</mat-label>
                      <input matInput="matInput" required="" pattern="^\d{8}$" value={{newpassword}} [class.is-invalid]="newpassword.invalid && newpassword.touched" name="newpassword" [(ngModel)]="userModel.newpassword" #newpassword="ngModel" [type]="hide2 ? 'password':'text'"/>
                      <i class="material-icons" matSuffix="matSuffix" (click)="hide2 = !hide2">{{hide2 ? 'visibility_off':'visibility'}}</i>
                  </mat-form-field>
                  <div *ngIf="newpassword.errors&&newpassword.touched">
                    <small class="text-danger" *ngIf="newpassword.errors['required']">New password  is Required</small>
                    <small class="text-danger" *ngIf="newpassword.errors['pattern']">Should Enter A Valid Password
                    </small>
                </div>
                  <mat-form-field class="example-full-width mt-4 mb-0">
                      <mat-label class="pass-label">Retype New Password</mat-label>
                      <input matInput="matInput" required="" pattern="{{newpassword.value}}" [class.is-invalid]="confirmnew.invalid && confirmnew.touched" name="confirmnew" [(ngModel)]="userModel.confirmnew" #confirmnew="ngModel" [type]="hide3 ? 'password':'text'"/>
                      <i class="material-icons" matSuffix="matSuffix" (click)="hide3 = !hide3">{{hide3 ? 'visibility_off':'visibility'}}</i>
                  </mat-form-field>
                  <div *ngIf="confirmnew.errors&&confirmnew.touched" class="mb-3">
                    <small class="text-danger" *ngIf="confirmnew.errors['required']">comfirm password  is Required</small>
                    <small class="text-danger" *ngIf="confirmnew.errors['pattern']">Passwords do not match</small>
                </div>
                  <button type="submit">Submit</button>
              </form>
          </div>
      </div>

  </form>

</div>
