<div class="over-view">
  <h2>Account Overview</h2>
  <hr/>
  <div class="overview-details">
      <div class="details-title d-flex">
          <h6>ACCOUNT DETAILS</h6>
          <a routerLink="../account_details">
              <i class="fa-solid fa-pen"></i>
          </a>
      </div>
      <hr/>
      <div class="details-body">
          <p>Mhmd Rashed</p>
          <span>mohamedtolleba2016@gmail.com</span><br/><br/><br/>
          <a routerLink="../change_password">CHANGE PASSWORD</a>
      </div>
  </div>
</div>
